body {
    background-image:url(https://wallpaperaccess.com/full/1765802.jpg) ;
    text-align: center;
    color: white;
    background-size: cover;
}
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;;
}